.gitignore
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.o
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
SEMANA1/vs.c
.vscode/tasks.json
.vscode/launch.json
.vscode/
SEMANA1/EX28
SEMANA1/vs
SEMANA1/EX29
SEMANA1/readme.txt
SEMANA2/EX30


SEMANA2/EX27
SEMANA3/EX7
SEMANA3/EX8
SEMANA3/EX10
SEMANA3/insertSort
SEMANA3/insertSort.c
SEMANA3/Lista_de_revisao.pdf
SEMANA3/teste
SEMANA3/teste.c
SEMANA2/EX28
SEMANA5/agendaParaMelhorar/main
SEMANA5/agenda
SEMANA5/agendaParaMelhorar/pBuffer
SEMANA5/testePilha/pilhaEstatica
SEMANA5/testePilha/pTeste
SEMANA5/agendaParaMelhorar/README.txt
SEMANA3/EX10.png
SEMANA3/EX8.png
SEMANA3/EX7.png
SEMANA5/testePilha/pilha
