# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.o
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
SLIDE1/vs.c
.vscode/tasks.json
.vscode/launch.json
.vscode/
EX28.1
SLIDE1/EX28
SLIDE1/tuzinPbuffer.c
SLIDE1/tuzinPbuffer
SLIDE1/vs
SLIDE1/EX29

SLIDE1/EX28.1.c
SLIDE1/EX28.2.c
